.*
!.gitignore
!.gitattributes
!.editorconfig
!.pre-commit-config.yaml

__pycache__/

/advancements/
/data/
/datapacks/disable-vanilla/
/DIM-1/
/DIM1/
/entities/
/stats/
/poi/
/playerdata/
/region/

/session.lock
/level.dat_old

*.out.mcfunction
*.out.json
